import 'package:flutter/material.dart';
import 'app_colors.dart';

class AppThemes {
static ThemeData darkTheme = ThemeData.dark().copyWith(
primaryColor: AppColors.primaryColor,
backgroundColor: Colors.black,
);

static ThemeData lightTheme = ThemeData.light().copyWith(
primaryColor: AppColors.primaryColor,
backgroundColor: Colors.white,
);
}