import 'package:shared_preferences/shared_preferences.dart';

class CacheManager {
final SharedPreferences _prefs;

CacheManager(this._prefs);

Future<void> saveToCache(String key, String value) async {
    await _prefs.setString(key, value);
    }

    String? getFromCache(String key) {
    return _prefs.getString(key);
    }
    }