import 'dart:convert';
import 'package:http/http.dart' as http;

class NetworkUtil {
final String baseUrl = "https://api.example.com ";

Future<Map<String, dynamic>> get(String endpoint) async {
final response = await http.get(Uri.parse('$baseUrl/$endpoint'));
return json.decode(response.body);
}
}