import 'config/routes/app_router.dart';
import 'config/routes/route_names.dart';
import 'core/constants/app_constants.dart';

void main() {
setupDependencies();
runApp(const MyApp());
}

class MyApp extends StatelessWidget {
const MyApp({Key? key}) : super(key: key);

@override
Widget build(BuildContext context) {
return MaterialApp(
title: AppConstants.appName,
theme: ThemeData.dark(),
onGenerateRoute: AppRouter.generateRoute,
initialRoute: RouteNames.home,
);
}
}