name: {{project_name}}
description: A new Flutter project using Bipul CLI.
version: 1.0.0+1

environment:
    sdk: '>=2.19.0 <3.0.0'
    flutter: ">=3.7.0"

dependencies:
    flutter:
        sdk: flutter

# Add your common dependencies here
    flutter_cache_manager:
    get:
    shared_preferences:
    logging:
    get_it:
    shimmer:





dev_dependencies:
    flutter_test:
        sdk: flutter
{{#include_linter}}
    flutter_lints: ^2.0.0
{{/include_linter}}

flutter:
    uses-material-design: true