import 'package:get_it/get_it.dart';
import 'package:{{project_name}}/features/home/presentation/viewmodels/home_viewmodel.dart';

final injector = GetIt.instance;

Future<void> setupDependencies() async {
    // Home Feature
    injector.registerLazySingleton(() => HomeViewModel());
    }