import 'package:flutter/material.dart';

class ImagePlaceholder extends StatelessWidget {
final double? width;
final double? height;
final Color? color;

const ImagePlaceholder({
super.key,
this.width,
this.height,
this.color,
});

@override
Widget build(BuildContext context) {
return Container(
width: width ?? 100,
height: height ?? 100,
color: color ?? Colors.grey[300],
child: const Center(
child: Icon(
Icons.image,
color: Colors.grey,
size: 40,
),
),
);
}
}